<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' type='text/css' href='/public/css/main.css' />
	<link rel='stylesheet' type='text/css' href='/public/css/index.css' />
	<title>IPS</title>
</head>
<body>
	<div class="page">
		<div class="body">
      <img class="logo" src="/svgs/position.svg" alt="-Stay connected-">
      <form id="anchor" class="form" action="/configuration" method="post" onsubmit="submitForm();">
				<h1>Anchor</h1>
  			<input type="" class="option" name="anchorid" value="" placeholder="UID"/>
        <br>
        <input type="" class="option" name="long" value="" placeholder="Longtitude"/>
        <br>
        <input type="" class="option" name="lat" value="" placeholder="Latitude"/>
				<p></p>
				</br>
				<input class="submit" type="submit">
			</form>
		</div>
	</div>


	<script type="text/javascript">
		var form = document.getElementById('anchor')
		function submitForm() {
			form.submit()
		}
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
