<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' type='text/css' href='/public/css/main.css' />
	<title>IPS</title>

	<!-- filepond -->
	<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
	<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='/public/css/map.css' />
	<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
	<script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
	<script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
	<script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
	<script defer src="/fileupload.js"></script>

</head>
<body>
	<div class="page">
		<div class="body">
      <!-- <canvas id="canvas" class="canvas visualise"></canvas> -->
			<!-- <div id="my-interactive" class="interactive"></div> -->
			<!-- <div id="myText"></div> -->
      <!-- <form id="maps" class="form" action="/admin/maps" method="post" onsubmit="submitForm();"> -->
        <div class="maps"> 
          <div class="form-heading">
            <h1 class="title">Maps</h1>
            <!-- <br> -->
            <h2 class="subtitle">Click a map to select it as active.</h2>
            <!-- TODO mark active map -->
            <% if (maps.length >= 1) { %>
              <% for(let i = 0; i < maps.length; i++) { %>
                <% if(maps[i].fileType == 'image/png' || maps[i].fileType == 'image/jpeg') { %>
                  <button class="map" type="submit" onclick="">
                    <img src="<%= "data:"+ maps[i].fileType + ";base64," + maps[i].file %>" alt="nothing here">
                    <br>
                  </button>
                <% } %>
              <% } %>
            <% } if (maps.length == 0) { %>
                    <img class="logo hide" src="/svgs/map.svg" alt="-Stay connected-">
                    <h2>Your maps will appear here after uploading. <br> No current maps uploaded found.</h2>
                    <% } %>
          </div>         
      </div>
      <!-- TODO add name to schematic -->
      <!-- TODO select map as active -->
      <!-- TODO remove map -->
      <!-- </form> -->
      <form id="form" class="form" action="/admin/maps" method="post" onsubmit="submitForm();">
        <img class="logo hide" src="/svgs/add_files.svg" alt="-Stay connected-">
			  <input type="file" id="file" name="fileinput" class="file-inputarea filepond">
			  <input type="text" name="width" id="width" style="display:none" value="">
			  <input type="text" name="height" id="height" style="display:none" value="">
        
				<div class="active">
          <input type="checkbox" id="active-map" name="activemap" value="1">
          <label for="active-map">Select map as active</label><br>
        </div>
				<input class="submit" type="submit">
			</form>
		</div>
	</div>


	<script type="text/javascript">
		let form = document.getElementById('form')
    let w = document.getElementById('width')
    let h = document.getElementById('height')

    function submitForm() {
      event.preventDefault();

      let formData = new FormData(form)
      let parsedFile = JSON.parse(formData.get('fileinput'))

      let image = new Image()
      image.onload = function() {
        w.value = image.width
        h.value = image.height
      }
      image.src = "data:image/png;base64," + parsedFile.data;
      
      image.addEventListener('load', (event) => {
          console.log('Image has been loaded!');
          form.submit();
      });
    }

	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	
</body>
</html>
