<!DOCTYPE html>
<html lang="en">
	
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' type='text/css' href='/public/css/main.css' />
	<link rel='stylesheet' type='text/css' href='/public/css/tag.css' />
	<title>IPS</title>
</head>

<body>
	<div class="page">
		<div class="body">
			<form id="form" class="form" action="/admin/tag" method="post" onsubmit="submitForm();">
				<h1>Tag</h1>
				<input type="input" class="option" name="name" placeholder="Name"/>
				</br>
				<input type="" class="option" name="tagid" value="<%= id %>" placeholder="<%= id %>" readonly="readonly"/>
				<br>
				<input class="submit" type="submit">
			</form>

			<img class="logo" src="/svgs/position.svg" alt="-Stay connected-">
		</div>
	</div>


	<script type="text/javascript">
		var form = document.getElementById("form")

		function submitForm() {
			event.preventDefault()
			form.submit()
		}
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
