$background-main: #E5FFF5;
$original-purple: #6C63FF;
$lavender-blush: #F9B8AA;
$thistle: #DB9795;
$light-thistle: #db9795a2;
$dark-thistle: #835351;
$dark-svg: #d16e6a;
$magic-mint: hsla(157, 100%, 84%, 0.5);
$liberty: hsla(238, 28%, 48%, 1);
$independence: hsla(262, 15%, 35%, 1);
$light-independence: rgb(193, 186, 207);
 //text color

$text: #363248;

//#6C63FF to #585a9d or 	D3C6D0
// ffb8b8   to e9d9d9