$background-main: #E5FFF5;
$original-purple: #6C63FF;
$lavender-blush: hsla(355, 43%, 95%, 1);
$thistle: hsla(315, 32%, 80%, 1);
$light-thistle: rgb(211, 198, 208);
$magic-mint: hsla(157, 100%, 84%, 0.5);
$liberty: hsla(238, 28%, 48%, 1);
$independence: hsla(262, 15%, 35%, 1);
$light-independence: rgb(193, 186, 207);
 //text color

$text: #363248;

//#6C63FF to #585a9d
