@import "colors";

.body {

  flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
  

  .headings {
    * {
      margin: 0px;
      margin-left: 7px;
      font-weight: 300;
    }

    h1 {
      margin-left: 0;
      margin-bottom: 0.1em;
    }
     
    h2 {
      font-weight: normal;
      font-size: 1.7em;
    }

    margin: 40px 10px 20px 10px;

    display: flex;
    flex-flow: row wrap;

    .headings-picture {
      margin-right: 20px;
      width: 100px;
      height: 100px;
    }

    .heading-text {
      * {
        margin: 0px;
        
      }
    }

    .headings-picture {
      .nav-icon {
        margin-top: 20px;
        max-width: 20em;
        max-height: 20em;

        width: 100%;
        height: 100%;

        opacity: 0.8;
      }
    }
  }

  .list {
    max-width: 650px;
    width: 98%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    // align-items: flex-start;

    .entry {
      display: flex;
      flex-flow: column nowrap;

      color: $text;
      font-size: 1em;
      background-color: $thistle;

      border-radius: 5px;
      border: 1px solid $thistle;
      box-shadow: 1px 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      box-shadow: 0px 2px 2px $dark-thistle;
      border-radius: 20px;

      margin: 10px;
      padding: 10px;

      width: 18em;
      height: 14em;

      .main {
        color: $liberty;
        font-size: 1.35em;
      }

      .title, .contacts {
        * {
          margin: 0px;
          font-weight: normal;
        }

        margin: 10px;
      }

      .title {
        height: 40%;
        margin-bottom: 30px;

        align-self: flex-start;
      }

      .contacts {
        :first-child {
          margin-bottom: 10px;
          font-size: 1.3em;
        }
      }

      * {
        text-align: left;
      }

      .selected {
        background-color: $thistle;
        opacity: 0.8;
      }

      
    }

    .entry:hover {
      opacity:0.8;
      box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
    }
  }

  .form {
    margin: 0;
    text-align: center;
    align-self: flex-start;

    max-width: 540px;
    max-height: 350px;
    width: 80%;

    .form-heading {
      margin: 120px auto 0px auto;
      height: 10%;
      
      .title {
        font-size: 4em;
        margin: 0;
        
      }

      .subtitle {
        font-size: 1.8em;
        margin-top: 0px;
        margin-bottom: 50px;
      }

      * {
        font-weight: normal;
      }
    }

    
  }

  .nav-icon {
    margin: auto;
    max-width: 5em;
    max-height: 5em;

    width: 100%;
    height: 100%;

    opacity: 0.7;
  }

  .logo {
    align-self: flex-start;
    margin-top: 200px;
  }
}