@import "colors";

.body {
	margin: 0;
	width: 95%;
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;

  .headings {
    * {
      margin: 0px;
      font-weight: normal;
    }
     
    h2 {
      margin-left: 10px;
    }

    margin: 60px auto;
    margin-left: 10px;
    margin-top: 0px;

    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;

    .headings-picture {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }

    .heading-text {
      * {
        margin: 0px;
      }
    }
  }

  .list {
    max-width: 650px;
    
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-around;
    // align-items: flex-start;

    .entry {
      display: flex;
      flex-flow: column nowrap;

      color: $text;
      font-size: 1em;

      background-color: $light-thistle;
      border-radius: 5px;
      border: 1px solid $independence;
      box-shadow: 1px 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      margin: 10px;
      padding: 10px;
      width: 18em;
      height: 14em;

      .main {
        color: $liberty;
        font-size: 1.35em;
      }

      .title, .contacts {
        * {
          font-weight: normal;
          margin: 0px;
        }

        margin: 10px;
      }

      .title {
        margin-bottom: 30px;
        align-self: flex-start;
        height: 40%;
      }

      .contacts {
        :first-child {
          margin-bottom: 10px;
          font-size: 1.3em;
        }
      }

      *{
        text-align: left;
      }

      .selected {
        background-color: $thistle;
        opacity: 0.8;
      }

      .nav-icon {
        max-width: 3em;
        max-height: 3em;
        width: 100%;
        height:100%;

        margin: auto;
      }
    }

    .entry:hover {
      opacity:0.8;
      
      box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
    }
  }

  .form {
    margin: 0;
    text-align: center;
    align-self: flex-start;

    .form-heading {
      margin: 60px auto 0px auto;
      height: 10%;
      
      .title {
        font-size: 4em;
        margin: 0;
        
      }

      .subtitle {
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 80px;
      }

      * {
        font-weight: normal;
      }
     
    }
  }

  .logo {
    align-self: flex-start;
    margin-top: 200px;
  }
}