@import "colors";

.body {
	margin: 0;
  margin-top: 20px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	// text-align: center;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
  
  .headings {
    * {
      margin: 0px;
    }

    margin: 60px auto;
    margin-left: 10px;
    margin-top: 0px;

  }

  .buttons {
    margin: 10px auto;

    button {
      color: $independence;
      width: 15em;
      height: 2em;
      text-align: left;
      // font-weight: bold
      display: inline-flex;
      align-items: center;
      margin: 8px auto;

      img {
        max-height: 32px;
        max-width: 32px;
        margin: 10px;
      }
    }
  }
}