@import "colors";

@media screen and (max-width: 1000px) {
	.form {
		text-align: left;
	}
	
}

.body {
	margin: 0;
  margin-top: 100px;
	width: 100%;
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// -ms-transform: translate(-50%, -50%);
	// transform: translate(-50%, -50%);
	// text-align: center;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
  
  .headings {
    * {
      margin: 0px;
    }

    margin: 80px auto;
    margin-left: 10px;
    margin-top: 0px;

  }

  .buttons {
    h2 {
      margin: 5px 5px;
      margin-left: 10px;
    }

    margin: 20px auto;

    button {
      color: $independence;
    }
  }

  .submit-btn {
    font-weight: bold;
  }
}