@import "colors";

.body {
  justify-content: space-evenly;

  .headings, .list {
    margin-right: 30px;
    justify-content: flex-end;

    * {
      text-align: right;
    }
  }

  .list {
    // align-items: flex-start;
    justify-content: flex-end;

    .entry {
      width: 30em;
      height: 8em;
      margin-right: 10px;
      padding: 5px 30px;
      
      
      
      .title {
        height: 40%;
        font-size: 1em;
        margin: 0;
        margin: 10px 0;
        
      }

      p {
        font-size: 1.3em;
      }

      * {
        align-self: flex-end;
        text-align: right;
      }
    }   
     
  }
}