@import "colors";

.body {
  
  font-weight: 300;
  flex-direction: row;
  justify-content: space-evenly;
  // align-items: center;

  .maps {
    
    display: flex;
    flex-direction: column;
    // width: 40%;
    align-items: flex-start;
    
  
    .form-heading {
      margin: 60px auto 0px auto;
      height: 10%;
      
      .title {
        font-size: 4em;
        margin: 0;
        // font-weight: 500;
      }
  
      .subtitle {
        font-size: 1.8em;
        margin-top: 0px;
        margin-bottom: 50px;
        // font-weight: 500;
      }
  
      * {
        font-weight: 300;
      }
     
    }

    .logo {
      margin: 0;
    }

    .map {
      display: flex;
      flex-direction: column;

      margin: 10px;
      padding: 5px;

      max-width: 320px;
      max-height: 220px;
  
      border: 2px solid $text;
      border-radius: 10px;
      outline: none;
  
      font-family: 'Roboto', sans-serif;
      font-size: 1.5em;
  
      color: $text;
      background-color: white;
  
      -moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
      box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.1);
  
      box-shadow: 1px 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      *{
        max-width: 300px;
        max-height: 200px;
      }
    }
  
    .map:hover {
      opacity: 0.75;
      transition: .15s ease-in-out;
  
      box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
    }
  }

  .form {
    float: right;
    width: 30%;
    // position: fixed;
    // top: 0;
    // right: 50px;;
    text-align: center;
    

    .logo {
      margin-top: 40px;
      height: 60%;
      width: 60%;
    }

    .active {
      margin: 10px 0;
      font-size: 1.2em;;
    }

    .filepond {
      margin-top: 30px;
      border-radius: 10px;
      box-shadow: 1px 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .filepond:hover {
      opacity: 0.85;
      transition: .15s ease-in-out;
  
      box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
    }

    .submit {
      margin-bottom: 20px;
      font-weight: 300;
    }
  }
}


//filepond basic style - restyling
.filepond--drop-label {
	// background-color: $thistle;
	color: $independence;
  border-radius: 20px;
  border: 2px transparent $independence;
}

.filepond--label-action {
	color: $text;
	font-weight: bold;
}

// .file-inputarea {	
// 	// color: $text;
// }

.filepond--panel-root {
	// background-color: $thistle;
	border-radius: 20px;
	background-color: $thistle;
  border: 2px transparent $independence;
}

.filepond--browser {
  display: none;
  border-radius: 20px;
  opacity: 0;
}

.filepond--drip-blob  {
	background-color: $independence;
}

.filepond--item-panel {
	background-color: $thistle;
	// border: 1px solid $independence;
	// box-shadow: ;
	color: $text;
}

.filepond--file {
	color: $text;
}
