@import "colors";

.body {
	margin: 0;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;

  h1 {
    margin: 0 auto;;
  }
 
	.code {
		display: block;
		margin: 15px auto;
		outline: none;
		border: none;
		background: transparent;
		// border-radius: 3px;;
	}
	
	.code:hover {
		opacity: 0.65;
		transition: .2s ease-in-out;
	}

	//REDO
	#printButton {
		display: none;
		margin:  10px auto 75px auto;
		padding: 5px 25px;

		// height: 2em;
		// width: 4em;
	}

	#text {
		font-size: large;
		max-width: 256px;
		width: 100%;
		
		display: none;
		margin:  10px auto;
	}

	.qr {
		margin: 0px;	
	
		max-width: 450px;
		max-height: 350px;
	
		width: 80%;
		height: auto;
	}

	.submit {
		margin: 10px;
		padding: 5px;

		border: 2px solid $text;
		border-radius: 10px;
		outline: none;

		font-family: 'Roboto', sans-serif;
		font-size: 1.5em;

		color: $text;
		background-color: white;

		-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
		box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.1);

		box-shadow: 1px 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.submit:hover {
		opacity: 0.75;
		transition: .15s ease-in-out;

		box-shadow: 0 7px 14px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.12);
	}

}

//filepond basic style - restyling
.filepond--drop-label {
	// background-color: $thistle;
	color: $independence;
}

.filepond--label-action {
	color: $text;
	font-weight: bold;
}

// .file-inputarea {	
// 	// color: $text;
// }

.filepond--panel-root {
	// background-color: $thistle;
	// border-radius: 0.5em;
	background-color: $light-thistle;
  border: 2px solid $independence;
}

.filepond--drip-blob  {
	background-color: $independence;
}

.filepond--item-panel {
	background-color: $light-thistle;
	// border: 1px solid $independence;
	// box-shadow: ;
	color: $text;
}

.filepond--file {
	color: $text;
}