@import "colors";

.body {
	margin: 0;
	margin-top: 60px;

	// display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
	text-align: center;	

	img {
		margin-top: 9em;
	}
}