.body {
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .body .headings {
    margin: 40px 10px 20px 10px;
    display: flex;
    flex-flow: row wrap; }
    .body .headings * {
      margin: 0px;
      margin-left: 7px;
      font-weight: 300; }
    .body .headings h1 {
      margin-left: 0;
      margin-bottom: 0.1em; }
    .body .headings h2 {
      font-weight: normal;
      font-size: 1.7em; }
    .body .headings .headings-picture {
      margin-right: 20px;
      width: 100px;
      height: 100px; }
    .body .headings .heading-text * {
      margin: 0px; }
    .body .headings .headings-picture .nav-icon {
      margin-top: 20px;
      max-width: 20em;
      max-height: 20em;
      width: 100%;
      height: 100%;
      opacity: 0.8; }
  .body .list {
    max-width: 650px;
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .body .list .entry {
      display: flex;
      flex-flow: column nowrap;
      color: #363248;
      font-size: 1em;
      background-color: #DB9795;
      border-radius: 5px;
      border: 1px solid #DB9795;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      box-shadow: 0px 2px 2px #835351;
      border-radius: 20px;
      margin: 10px;
      padding: 10px;
      width: 18em;
      height: 14em; }
      .body .list .entry .main {
        color: #585a9d;
        font-size: 1.35em; }
      .body .list .entry .title, .body .list .entry .contacts {
        margin: 10px; }
        .body .list .entry .title *, .body .list .entry .contacts * {
          margin: 0px;
          font-weight: normal; }
      .body .list .entry .title {
        height: 40%;
        margin-bottom: 30px;
        align-self: flex-start; }
      .body .list .entry .contacts :first-child {
        margin-bottom: 10px;
        font-size: 1.3em; }
      .body .list .entry * {
        text-align: left; }
      .body .list .entry .selected {
        background-color: #DB9795;
        opacity: 0.8; }
    .body .list .entry:hover {
      opacity: 0.8;
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12); }
  .body .form {
    margin: 0;
    text-align: center;
    align-self: flex-start;
    max-width: 540px;
    max-height: 350px;
    width: 80%; }
    .body .form .form-heading {
      margin: 120px auto 0px auto;
      height: 10%; }
      .body .form .form-heading .title {
        font-size: 4em;
        margin: 0; }
      .body .form .form-heading .subtitle {
        font-size: 1.8em;
        margin-top: 0px;
        margin-bottom: 50px; }
      .body .form .form-heading * {
        font-weight: normal; }
  .body .nav-icon {
    margin: auto;
    max-width: 5em;
    max-height: 5em;
    width: 100%;
    height: 100%;
    opacity: 0.7; }
  .body .logo {
    align-self: flex-start;
    margin-top: 200px; }
