.body {
  margin: 0;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .body .headings {
    margin: 60px auto;
    margin-left: 10px;
    margin-top: 0px; }
    .body .headings * {
      margin: 0px; }
  .body .buttons {
    margin: 10px auto; }
    .body .buttons button {
      width: 18em;
      text-align: left;
      display: inline-flex;
      align-items: center;
      margin: 8px auto; }
      .body .buttons button img {
        max-height: 32px;
        max-width: 32px;
        margin: 10px; }
  .body .submit {
    font-weight: 500; }
  .body .logo {
    margin: 150px 10px 0px 10px; }
  .body .form {
    margin-left: 5em; }
