.body {
  justify-content: space-evenly; }
  .body .headings, .body .list {
    margin-left: 30px; }
  .body .list {
    justify-content: flex-start; }
    .body .list .entry {
      width: 30em;
      height: 8em;
      padding: 15px 15px; }
      .body .list .entry .title {
        height: 40%;
        font-size: 1.3em;
        margin: 0;
        margin-bottom: 5px; }
      .body .list .entry * {
        align-self: flex-start; }
