.body {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end; }
  .body h1 {
    margin: 0 auto 30px auto; }
  .body .code {
    display: block;
    margin: 15px auto;
    outline: none;
    border: none;
    background: transparent; }
  .body .code:hover {
    opacity: 0.65;
    transition: .2s ease-in-out; }
  .body #printButton {
    display: none;
    margin: 10px auto 75px auto;
    border: #DB9795;
    border-radius: 20px;
    background-color: #DB9795;
    height: 3em;
    width: 10em;
    margin-top: 20px;
    text-align: center; }
  .body #text {
    font-size: large;
    max-width: 256px;
    width: 100%;
    display: none;
    margin: 10px auto; }
  .body .qr {
    margin: 0px;
    max-width: 450px;
    max-height: 350px;
    width: 80%;
    height: auto; }
  .body .submit {
    margin: 10px;
    padding: 5px;
    border: 2px solid #363248;
    border-radius: 10px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #363248;
    background-color: white;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .body .submit:hover {
    opacity: 0.75;
    transition: .15s ease-in-out;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12); }
