.body {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end; }
  .body h1 {
    margin: 0 auto; }
  .body .code {
    display: block;
    margin: 15px auto;
    outline: none;
    border: none;
    background: transparent; }
  .body .code:hover {
    opacity: 0.7; }
  .body #printButton {
    display: none;
    margin: 10px auto; }
  .body .choice {
    padding: 10px;
    height: 6em;
    width: 8em;
    margin: 10px;
    font-weight: bold; }
    .body .choice img {
      margin: 10px;
      height: 3em;
      width: 3em; }
  .body .choice:focus {
    border: 2px solid #564c67;
    opacity: 0.7;
    background-color: #d3c6d0;
    transition: .35s ease-in-out; }

.filepond--drop-label {
  color: #564c67; }

.filepond--label-action {
  color: #363248;
  font-weight: bold; }

.filepond--panel-root {
  background-color: #d3c6d0;
  border: 2px solid #564c67; }

.filepond--drip-blob {
  background-color: #564c67; }

.filepond--item-panel {
  background-color: #d3c6d0;
  color: #363248; }

.filepond--file {
  color: #363248; }
